.footer_part_1{
    background-color: rgba(30, 33, 44, 1);
    width: 100%;
    .footer_item{
        display: flex;
        padding: 60px 0;
        justify-content: space-between;
        .footer_title{
            img{
                margin-bottom: 24px;
            }
            p{
                font-family: 'latoregular';
                font-weight: 400;
                font-size: 12px;
                line-height: 150%;
                color: #fff;
                opacity: 0.6;
                width: 279px;
                margin-bottom: 38px;
            }
            ul{
                display: flex;
                gap: 20px;
                li{
                    .facebook-item{
                        &::before{
                            content: "";
                            width: 24px;
                            height: 24px;
                            display: block;
                            background-image: url(../images/Facebook-footer_1.svg);
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                        &:hover::before{
                            background-image: url(../images/Facebook-footer_2.svg);
                        }
                    }
                }
                li{
                    .twitter-item{
                        &::before{
                            content: "";
                            width: 24px;
                            height: 24px;
                            display: block;
                            background-image: url(../images/Twitter-1.svg);
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                        &:hover::before{
                            background-image: url(../images/Twitter-2.svg);
                        }
                    }
                }
                li{
                    .youtube-item{
                        &::before{
                            content: "";
                            width: 24px;
                            height: 24px;
                            display: block;
                            background-image: url(../images/YouTube-1.svg);
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                        &:hover::before{
                            background-image: url(../images/YouTube-2.svg);
                        }
                    }
                }
                li{
                    .telegram-item{
                        &::before{
                            content: "";
                            width: 24px;
                            height: 24px;
                            display: block;
                            background-image: url(../images/telegram-1.svg);
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                        &:hover::before{
                            background-image: url(../images/telegram-2.svg);
                        }
                    }
                }
                li{
                    .inst-item{
                        &::before{
                            content: "";
                            width: 24px;
                            height: 24px;
                            display: block;
                            background-image: url(../images/Instagram-1.svg);
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                        &:hover::before{
                            background-image: url(../images/Instagram-2.svg);
                        }
                    }
                }
                li{
                    .linked-item{
                        &::before{
                            content: "";
                            width: 24px;
                            height: 24px;
                            display: block;
                            background-image: url(../images/Linked-In-1.svg);
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                        &:hover::before{
                            background-image: url(../images/Linked-In-2.svg);
                        }
                    }
                }
            }
        }
        .footer_list{
            display: flex;
            gap: 79px;
            .name_nav_footer{
                margin-bottom: 10px;
                font-family: 'latobold';
                font-weight: 700;
                font-size: 16px;
                line-height: 150%;
                letter-spacing: 0.06em;
                text-transform: uppercase;
                color: #fff;
            }
            li{
                margin-bottom: 8px;
                .link-footer-item{
                    font-family: 'latoregular';
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 160%;
                    color: #fff;
                    opacity: 0.6;
                    &:hover{
                        color: $orang_color;
                    }
                }
                .tel-item{
                    display: flex;
                    align-items: center;
                    &::before{
                        content: "";
                    width: 16px;
                    height: 16px;
                    margin-right: 4px;
                    /* используем марджин-райт вместо гап */
                    background-image: url(../images/tei-item.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    }
                }
                .mail-item{
                    display: flex;
                    align-items: center;
                    &::before{
                        content: "";
                    width: 16px;
                    height: 16px;
                    margin-right: 4px;
                    /* используем марджин-райт вместо гап */
                    background-image: url(../images/Mail-item.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    }
                }
            }
        }
        .footer_email{
            width: 286px;
            position: relative;
            h4{
                font-family: 'latobold';
                font-weight: 700;
                font-size: 16px;
                line-height: 150%;
                letter-spacing: 0.06em;
                text-transform: uppercase;
                color: #fff;
                margin-bottom: 24px;
            }
            form{
                .input_footer{
                    background: rgba(255, 255, 255, 0.12);
                    border: 1px solid rgba(255, 255, 255, 0.334);
                    font-family: 'latoregular';
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 150%;
                    color: $white_color;
                    opacity: 0.6;
                    border-radius: 4px;
                    width: 100%;
                    height: 36px;
                    padding-left: 12px;
                    &:focus{
                        opacity: 1;
                        outline: none;
                    }
                    
                }
            }
            .form_fotter_button{
                position: absolute;
                top: 58px;
                right: 12px;
                cursor: pointer;
                &::after{
                    content: "";
                    width: 16px;
                    height: 16px;
                    display: block;
                    margin-right: 4px;
                    /* используем марджин-райт вместо гап */
                    background-image: url(../images/arrow_footer_email.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                }
                &:hover::after{
                    background-image: url(../images/arrow_footer_email2.svg);
                }
            }
        }
    }
}
.footer_part_2{
    background-color: rgba(52, 55, 65, 1);
    width: 100%;
    .reserved_inner{
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        .title_inner_footer{
            display: flex;
            h5{
                font-family: 'latoregular';
                font-weight: 400;
                font-size: 12px;
                line-height: 150%;
                color: #fff;
                margin-right: 4px;
            }
            h6{
                font-family: 'latoregular';
                font-weight: 400;
                font-size: 12px;
                line-height: 150%;
                color: #fff;
                display: flex;
                &::before{
                    content: "";
                    width: 16px;
                    height: 16px;
                    margin-right: 4px;
                    /* используем марджин-райт вместо гап */
                    background-image: url(../images/heart_footer.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                
                }
            }
        }
        .top-item{
            font-family: 'latobold';
            font-weight: 700;
            font-size: 14px;
            line-height: 150%;
            color: #fff;
            opacity: 0.6;
        }
    }
}
