  /* хедер */
  @import 'media';
  .header_inner{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 4;
    .menu{
        display: flex;
        gap: 60px;
        align-items: center;
// навигация
        nav{
            .nav-menu-list{
                display: flex;
                gap: 40px;
                .nav-menu-link{
                    font-family: 'latoregular';
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 160%;
                    color: #424551;
                    white-space: nowrap;
                    // но врап чтоб текст не переносился
                    &:hover{
                        color: $orang_color;
                    }
                }
            }
            .mobile-menu-link-registration{
                display: none;
            }
// полоски бургер меню
            .span-nav-menu{
                display: none;
                width: 40px;
                height: 18px;
                color: #000;
                z-index: 5;
            }
            .span-nav-menu span{
                background-color: $orang_color;
                height: 2px;
                width: 100%;
            }
        }
    }
// логин и рег
    .menu-link-registration{
        display: flex;
        gap: 36px;
        align-items: center;
        margin-left: 225px;
        .btn-nav-menu{
            @include base_button;
            font-family: 'latoregular';
            font-weight: 700;
            font-size: 16px;
            letter-spacing: 0.03em;
            text-align: center;
            padding: 15px 40px;
            display: block;
        }
        .menu-nav-registration{
            font-family: 'latoregular';
            font-weight: 700;
            font-size: 16px;
            line-height: 160%;
            color: #424551;
            display: flex;
            gap: 8px;
            align-items: center;
            white-space: nowrap;
                    // но врап чтоб текст не переносился
            &:hover{
                color: $orang_color;
            }
            &::before{
                content: '';
                width: 20px;
                height: 20px;
                background-image: url(../images/login-people.svg);
                background-repeat: no-repeat;
                display: flex;
            }
            &:hover::before{
                background-image: url(../images/login-people-hover.svg);
            }
        }
    }
  }