/* адаптивы */
@media only screen and (max-width: 1301px) {
    .header_inner{
        .menu-link-registration{
            margin-left: 200px;
        }
    }
}
@media only screen and (max-width: 1231px) {
    .header_inner{
        .menu-link-registration{
            margin-left: 180px;
        }
        .menu nav .nav-menu-list{
            gap: 20px;
        }
    }
}
@media only screen and (max-width: 1025px) {
    .header_inner{
        .menu-link-registration{
            margin-left: 60px;
        }
    }
}
@media only screen and (max-width: 769px) {
    .header_inner{
        .menu nav .nav-menu-list{
            display: none;
        }
        .menu-link-registration {
            margin-left: 150px;
        }
        .menu nav .span-nav-menu{
            display: block;
        }
        .menu nav{
            .phone{
                display: block;
                .active{
                    display: block;
                }
            }
        }
    }
    .hero-screen{
        .site-left-right{
            justify-content: center;
            .play-text{
                justify-content: center;
                margin-bottom: 60px;
            }
            .play-title{
                text-align: center;
                margin-left: 0;
            }
            .hero-screen-button{
                margin-left: 0;
                justify-content: center;
                margin-bottom: 60px;
            }
        }
        .number-students{
            flex-direction: column;
            li{
                margin-bottom: 20px;
                .svg-point{
                    display: none;
                }
            }
        }
    }
}
@media only screen and (max-width: 569px){
    .header_inner {
        .menu-link-registration{
            margin-left: 0;
            .btn-nav-menu{
                padding: 12px 15px;
            }
        }
    }
    .site-right-img{
        img{
            max-width: 513px;
            max-height: 551px;
        }
    }
}
@media only screen and (max-width: 426px) {
    .header_inner .menu-link-registration .btn-nav-menu{
        display: none;
    }
    .hero-screen {
        padding-top: 100px;
        .site-left-right .play-title{
            font-size: 40px;
        }
    }
    .site-right-img img {
        max-width: 383px;
        max-height: 371px;
    }
}
@media only screen and (max-width: 391px){
    .header_inner {
        .menu {
            gap: 40px;
    }
    }
    .site-right-img img {
        max-width: 300px;
        max-height: 300px;
    }
}