@charset "UTF-8";
@font-face {
  font-family: "latoblack";
  src: url("../fonts/lato-black-webfont.eot");
  src: url("../fonts/lato-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-black-webfont.woff2") format("woff2"), url("../fonts/lato-black-webfont.woff") format("woff"), url("../fonts/lato-black-webfont.ttf") format("truetype"), url("../fonts/lato-black-webfont.svg#latoblack") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "latobold";
  src: url("../fonts/lato-bold-webfont.eot");
  src: url("../fonts/lato-bold-webfont.eot?#iefix") format("embedded-opentyve"), url("../fonts/lato-bold-webfont.woff2") format("woff2"), url("../fonts/lato-bold-webfont.woff") format("woff"), url("../fonts/lato-bold-webfont.ttf") format("truetype"), url("../fonts/lato-bold-webfont.svg#latobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "latoregular";
  src: url("../fonts/lato-regular-webfont.eot");
  src: url("../fonts/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-regular-webfont.woff2") format("woff2"), url("../fonts/lato-regular-webfont.woff") format("woff"), url("../fonts/lato-regular-webfont.ttf") format("truetype"), url("../fonts/lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "latoregular";
  font-style: normal;
  margin: 0;
}

/* хедер */
/* адаптивы */
@media only screen and (max-width: 1300px) {
  .header_inner .menu-link-registration {
    margin-left: 200px;
  }
}
@media only screen and (max-width: 1230px) {
  .header_inner .menu-link-registration {
    margin-left: 180px;
  }
  .header_inner .menu nav .nav-menu-list {
    gap: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .header_inner .menu-link-registration {
    margin-left: 60px;
  }
}
@media only screen and (max-width: 768px) {
  .header_inner .menu nav .nav-menu-list {
    display: none;
  }
  .header_inner .menu-link-registration {
    margin-left: 150px;
  }
  .header_inner .menu nav .span-nav-menu {
    display: block;
  }
  .header_inner .menu nav .phone {
    display: block;
  }
  .header_inner .menu nav .phone .active {
    display: block;
  }
  .hero-screen .site-left-right {
    justify-content: center;
  }
  .hero-screen .site-left-right .play-text {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .hero-screen .site-left-right .play-title {
    text-align: center;
    margin-left: 0;
  }
  .hero-screen .site-left-right .hero-screen-button {
    margin-left: 0;
    justify-content: center;
  }
  .hero-screen .number-students {
    flex-direction: column;
  }
  .hero-screen .number-students li {
    margin-bottom: 20px;
  }
  .hero-screen .number-students li .svg-point {
    display: none;
  }
}
.header_inner {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 2;
}
.header_inner .menu {
  display: flex;
  gap: 60px;
  align-items: center;
}
.header_inner .menu nav .nav-menu-list {
  display: flex;
  gap: 40px;
}
.header_inner .menu nav .nav-menu-list .nav-menu-link {
  font-family: "latoregular";
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  white-space: nowrap;
}
.header_inner .menu nav .nav-menu-list .nav-menu-link:hover {
  color: #f75e05;
}
.header_inner .menu-link-registration {
  display: flex;
  gap: 36px;
  align-items: center;
  margin-left: 225px;
}
.header_inner .menu-link-registration .btn-nav-menu {
  border: 1px solid #f75e05;
  background-color: #f75e05;
  color: #ffffff;
  transition: background-color 2s cubic-bezier(0.1, 0.8, 0.5, 2), color 2s 1s linear;
  font-family: "latoregular";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  padding: 15px 40px;
  border: 1px solid transparent;
  display: block;
}
.header_inner .menu-link-registration .btn-nav-menu:active {
  color: #f75e05;
}
.header_inner .menu-link-registration .btn-nav-menu:hover {
  border: 1px solid #f75e05;
  background-color: #e5ccb1;
  color: #f75e05;
}
.header_inner .menu-link-registration .menu-nav-registration {
  font-family: "latoregular";
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  display: flex;
  gap: 8px;
  align-items: center;
  white-space: nowrap;
}
.header_inner .menu-link-registration .menu-nav-registration:hover {
  color: #f75e05;
}
.header_inner .menu-link-registration .menu-nav-registration::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../images/login-people.svg);
  background-repeat: no-repeat;
  display: flex;
}
.header_inner .menu-link-registration .menu-nav-registration:hover::before {
  background-image: url(../images/login-people-hover.svg);
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Прелоадер */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  animation: fadeOut 6s forwards;
}
.preloader::before {
  content: "";
  width: 130px;
  height: 22px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  display: flex;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* первая секция, первый скрин */
.hero-screen {
  min-height: 100svh;
  width: 100%;
  background-color: #FFDAD6;
  position: relative;
  z-index: 1;
  padding-top: 200px;
  /* все еще первая секция, только строчка с числами */
}
.hero-screen .site-left-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 189px;
  flex-wrap: wrap;
}
.hero-screen .site-left-right .play-text {
  display: flex;
  align-items: center;
  font-family: "latoregular";
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 24px;
  max-width: 172px;
}
.hero-screen .site-left-right .play-text:hover {
  color: #f75e05;
}
.hero-screen .site-left-right .play-text:hover:before {
  background-image: url(../images/play-hover.svg);
}
.hero-screen .site-left-right .play-text::before {
  content: "";
  width: 84px;
  height: 84px;
  background-image: url(../images/play.svg);
  background-repeat: no-repeat;
  display: flex;
}
.hero-screen .site-left-right .play-title {
  font-family: "latoregular";
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #1e212c;
  max-width: 496px;
  margin-bottom: 60px;
  margin-left: 20px;
}
.hero-screen .site-left-right .hero-screen-button {
  display: flex;
  gap: 64px;
  align-items: center;
  margin-left: 15px;
}
.hero-screen .site-left-right .hero-screen-button .about-us-link {
  border: 1px solid #f75e05;
  background-color: #f75e05;
  color: #ffffff;
  transition: background-color 2s cubic-bezier(0.1, 0.8, 0.5, 2), color 2s 1s linear;
  font-family: "latoregular";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 15px 40px;
  color: #f75e05;
  background-color: #ffffff;
}
.hero-screen .site-left-right .hero-screen-button .about-us-link:active {
  color: #f75e05;
}
.hero-screen .site-left-right .hero-screen-button .about-us-link:hover {
  border: 1px solid #f75e05;
  background-color: #e5ccb1;
  color: #f75e05;
}
.hero-screen .site-left-right .hero-screen-button .courses-link {
  font-family: "latoregular";
  font-weight: 700;
  font-size: 16px;
  line-height: 325%;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.hero-screen .site-left-right .hero-screen-button .courses-link:hover {
  color: #f75e05;
}
.hero-screen .number-students {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.hero-screen .number-students .number-list {
  font-family: "latoregular";
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  text-align: center;
  color: #1e212c;
  padding-right: 12px;
}
.hero-screen .number-students li {
  font-family: "latoregular";
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #1e212c;
  display: flex;
  align-items: center;
}/*# sourceMappingURL=style1.css.map */