@charset "UTF-8";
@font-face {
  font-family: "latoblack";
  src: url("../fonts/lato-black-webfont.eot");
  src: url("../fonts/lato-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-black-webfont.woff2") format("woff2"), url("../fonts/lato-black-webfont.woff") format("woff"), url("../fonts/lato-black-webfont.ttf") format("truetype"), url("../fonts/lato-black-webfont.svg#latoblack") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "latobold";
  src: url("../fonts/lato-bold-webfont.eot");
  src: url("../fonts/lato-bold-webfont.eot?#iefix") format("embedded-opentyve"), url("../fonts/lato-bold-webfont.woff2") format("woff2"), url("../fonts/lato-bold-webfont.woff") format("woff"), url("../fonts/lato-bold-webfont.ttf") format("truetype"), url("../fonts/lato-bold-webfont.svg#latobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "latoregular";
  src: url("../fonts/lato-regular-webfont.eot");
  src: url("../fonts/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-regular-webfont.woff2") format("woff2"), url("../fonts/lato-regular-webfont.woff") format("woff"), url("../fonts/lato-regular-webfont.ttf") format("truetype"), url("../fonts/lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.part_about_us {
  padding-top: 200px;
}
.part_about_us .left-right-site {
  display: flex;
  justify-content: space-between;
}
.part_about_us .left-right-site div h4 {
  font-family: "latobold";
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 8px;
}
.part_about_us .left-right-site div h2 {
  font-family: "latoblack";
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1e212c;
  margin-bottom: 48px;
}
.part_about_us .left-right-site div .text_about_us {
  font-family: "latobold";
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 24px;
}
.part_about_us .left-right-site div .We_provide {
  font-family: "latoregular";
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-bottom: 60px;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background: none;
}

body {
  font-family: "latoregular";
  font-style: normal;
  margin: 0;
  position: relative;
}

/* хедер */
/* адаптивы */
@media only screen and (max-width: 1301px) {
  .header_inner .menu-link-registration {
    margin-left: 140px;
  }
}
@media only screen and (max-width: 1231px) {
  .header_inner .menu-link-registration {
    margin-left: 120px;
  }
  .header_inner .menu nav .nav-menu-list {
    gap: 20px;
  }
  .students_say .owl-carousel.owl-carousel-second .owl-nav .owl-prev span {
    right: 1025px;
  }
  .students_say .owl-carousel.owl-carousel-second .owl-nav .owl-next span {
    left: 1025px;
  }
}
@media only screen and (max-width: 1025px) {
  .header_inner .menu-link-registration {
    margin-left: 60px;
  }
  .Why_Createx_section_2 {
    flex-direction: column;
    align-items: center;
  }
  .Why_Createx_section_2 img {
    margin-bottom: 35px;
  }
  .Featured_Courses .Featured_Courses_button {
    justify-content: space-around;
  }
  .Featured_Courses h4 {
    text-align: center;
  }
  .teachers_inner {
    justify-content: center;
  }
  .Our_benefits .benefits-item {
    flex-direction: column;
    align-items: center;
  }
  .Our_benefits .benefits-item li {
    padding-bottom: 30px;
  }
  .owl-carousel .owl-item {
    display: flex;
    justify-content: center;
  }
  .Certificate .Certificate_img {
    width: 500px;
    height: 320px;
  }
  .our_team .team_inner {
    padding-top: 100px;
  }
  .our_team .team_inner .card_teachers {
    flex-direction: column;
    align-items: center;
  }
  .our_team .team_inner .card_teachers .teachers_inner_card {
    margin-bottom: 40px;
  }
  .our_team .team_inner .card_teachers .teachers_inner_card img {
    margin-bottom: 8px;
  }
  .our_team .team_inner .card_teachers .gradient {
    height: 82.5%;
  }
  .our_team .team_inner .title_and_arrow {
    flex-direction: column;
    align-items: center;
  }
  .our_team .team_inner h5 {
    text-align: center;
  }
  .students_say .owl-carousel.owl-carousel-second .owl-nav .owl-prev span {
    display: none;
  }
  .students_say .owl-carousel.owl-carousel-second .owl-nav .owl-next span {
    display: none;
  }
  .students_say .owl-carousel.owl-carousel-second.owl-loaded.owl-drag {
    margin-left: 0;
  }
  .Our_blog_inner {
    text-align: center;
  }
  .Our_blog_inner .posts_btn {
    flex-direction: column;
  }
  .Our_blog_inner .posts_btn h4 {
    margin-bottom: 20px;
  }
  .Our_blog_inner .card_blog_item {
    flex-direction: column;
    align-items: center;
  }
  .Our_blog_inner .card_blog_item .card_blog_inner {
    margin-bottom: 20px;
  }
  .Our_blog_inner .card_blog_item .card_blog_inner .card_blog_title {
    justify-content: center;
  }
  .Our_blog_inner .card_blog_item .card_blog_inner .Listen_link {
    justify-content: center;
  }
  .footer_part_1 .footer_item .footer_list {
    gap: 25px;
  }
}
@media only screen and (max-width: 769px) {
  .header_inner .menu nav {
    order: -1;
  }
  .header_inner .menu nav .nav-menu-list {
    transform: translateY(-100%);
    position: absolute;
    top: 0;
    left: 240px;
    width: 300px;
    margin: 0 auto;
    background-color: #f75e05;
    display: block;
    text-align: center;
    padding: 30px 0;
    transition: transform 0.6s ease;
    border-radius: 40px;
  }
  .header_inner .menu nav .nav-menu-list .nav-menu-link {
    color: #ffffff;
  }
  .header_inner .menu nav .nav-menu-list .nav-menu-link:hover {
    color: #e8a47c;
  }
  .header_inner .menu nav .nav-menu-list li {
    margin-bottom: 20px;
  }
  .header_inner .menu nav .nav-menu-list .menu-close::after {
    content: "";
    width: 13px;
    height: 13px;
    display: block;
    /* используем марджин-райт вместо гап */
    background-image: url(../images/menu-close.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .header_inner .menu nav .nav-menu-list.menu-list-open {
    transform: translateY(0%);
  }
  .header_inner .menu nav .menu-link-registration {
    margin-left: 100px;
  }
  .header_inner .menu nav .span-nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .hero-screen .site-left-right {
    justify-content: center;
  }
  .hero-screen .site-left-right .play-text {
    justify-content: center;
    margin-bottom: 60px;
  }
  .hero-screen .site-left-right .play-title {
    text-align: center;
    margin-left: 0;
  }
  .hero-screen .site-left-right .hero-screen-button {
    margin-left: 0;
    justify-content: center;
    margin-bottom: 60px;
  }
  .hero-screen .number-students {
    flex-direction: column;
  }
  .hero-screen .number-students li {
    margin-bottom: 20px;
  }
  .hero-screen .number-students li .svg-point {
    display: none;
  }
  .Why_Createx_section_2 img {
    max-width: 500px;
    max-height: 365px;
  }
  .Our_benefits .practicing-tutors_img {
    flex-direction: column;
    text-align: center;
  }
  .Our_benefits .practicing-tutors_img .practicing-tutors_left p {
    margin-bottom: 20px;
  }
  .Our_Events .events .Event_details {
    gap: 25px;
    padding: 32px 15px;
  }
  .Certificate .Certificate_img {
    width: 385px;
    height: 285px;
  }
  .Certificate .Certificate_createx {
    width: 330px;
  }
  .Certificate .Certificate_createx h4 {
    font-size: 39px;
  }
  .Certificate .Certificate_createx p {
    margin-bottom: 65px;
  }
  .students_say .owl-carousel.owl-carousel-second .owl-dots {
    left: 255px;
  }
  .students_say .owl-carousel.owl-carousel-second.owl-loaded.owl-drag {
    padding-left: 10px;
    padding-right: 10px;
  }
  .students_say .owl-carousel.owl-carousel-second .carusel_item .carusel_inner p {
    width: 90%;
  }
  .footer_part_1 .footer_item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer_part_1 .footer_item .footer_title {
    margin-bottom: 50px;
  }
  .footer_part_1 .footer_item .footer_list {
    gap: 60px;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 569px) {
  .header_inner .menu {
    gap: 130px;
  }
  .header_inner .menu nav .nav-menu-list {
    left: 110px;
  }
  .header_inner .menu nav .mobile-menu-link-registration {
    display: block;
  }
  .header_inner .menu nav .mobile-menu-link-registration li a {
    font-family: "latoregular";
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #ffffff;
  }
  .header_inner .menu nav .mobile-menu-link-registration li a:hover {
    color: #e8a47c;
  }
  .header_inner .menu-link-registration {
    display: none;
  }
  .site-right-img img {
    max-width: 513px;
    max-height: 551px;
  }
  .Featured_Courses .Featured_Courses_button h3 {
    margin-bottom: 20px;
    text-align: center;
  }
  .Featured_Courses h4 {
    margin-bottom: 0;
  }
  .Featured_Courses .teachers_inner .teachers_item_img {
    flex-direction: column;
    width: 70%;
    padding: 20px 0;
  }
  .Featured_Courses .teachers_inner .teachers_item_img img {
    border-radius: 4px;
    margin-bottom: 10px;
  }
  .Featured_Courses .teachers_inner .teachers_item_img .teacher_item {
    align-items: center;
    text-align: center;
  }
  .practicing-tutors_img img {
    max-width: 400px;
    max-height: 400px;
  }
  .Our_Events .events .Event_details {
    gap: 5px;
    padding: 32px 15px;
    align-items: center;
  }
  .Our_Events .events .Event_details h4 {
    display: none;
  }
  .Our_Events .events .Event_details .Event_details_date {
    display: none;
  }
  .Certificate {
    justify-content: center;
    text-align: center;
    padding-top: 300px;
  }
  .Certificate .Certificate_img {
    right: 73px;
    bottom: 397px;
  }
  .students_say .owl-carousel.owl-carousel-second .owl-dots {
    left: 133px;
  }
  .email_for_Subscribe .img_subscribe_1 {
    display: none;
  }
  .email_for_Subscribe .img_subscribe_2 {
    display: none;
  }
}
@media only screen and (max-width: 451px) {
  .header_inner .menu nav .nav-menu-list {
    left: 60px;
  }
  .hero-screen {
    margin-bottom: 70px;
  }
  .site-right-img img {
    max-width: 383px;
    max-height: 371px;
  }
  .Why_Createx_section_2 img {
    max-width: 300px;
    max-height: 200px;
  }
  .Why_Createx_section_2 .Why_Createx_text_right {
    text-align: center;
  }
  .Our_Events .events .Event_details {
    flex-direction: column;
  }
  .Our_Events .events .Event_details .Event_details_name {
    margin-bottom: 10px;
    text-align: center;
  }
  .Our_Events .events .Event_details .Event_details_name h5 {
    text-align: center;
  }
  .Our_Events .events .all_events {
    flex-direction: column;
  }
  .Certificate .Certificate_img {
    right: 16px;
  }
  .students_say .owl-carousel.owl-carousel-second .owl-dots {
    left: 78px;
  }
  .footer_part_1 .footer_item .footer_list {
    flex-direction: column;
  }
  .footer_part_2 .reserved_inner {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 426px) {
  .header_inner .menu nav .nav-menu-list {
    left: 45px;
  }
  .hero-screen {
    padding-top: 100px;
  }
  .hero-screen .site-left-right .play-title {
    font-size: 40px;
  }
  .Certificate .Certificate_img {
    right: 11px;
    width: 350px;
    height: 245px;
  }
}
@media only screen and (max-width: 391px) {
  .header_inner .menu {
    gap: 70px;
  }
  .header_inner .menu nav .nav-menu-list {
    left: 45px;
  }
  .site-right-img img {
    max-width: 300px;
    max-height: 300px;
  }
  .practicing-tutors_img img {
    max-width: 350px;
    max-height: 350px;
  }
  .Certificate .Certificate_img {
    right: 0;
  }
  .students_say .owl-carousel.owl-carousel-second .carusel_item .carusel_inner p {
    width: 75%;
  }
  .students_say .owl-carousel.owl-carousel-second .owl-dots {
    left: 52px;
  }
  .card_blog_inner img {
    max-width: 350px;
    height: 250px;
  }
}
.header_inner {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 4;
}
.header_inner .menu {
  display: flex;
  gap: 60px;
  align-items: center;
}
.header_inner .menu nav .nav-menu-list {
  display: flex;
  gap: 40px;
}
.header_inner .menu nav .nav-menu-list .nav-menu-link {
  font-family: "latoregular";
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  white-space: nowrap;
}
.header_inner .menu nav .nav-menu-list .nav-menu-link:hover {
  color: #f75e05;
}
.header_inner .menu nav .mobile-menu-link-registration {
  display: none;
}
.header_inner .menu nav .span-nav-menu {
  display: none;
  width: 40px;
  height: 18px;
  color: #000;
  z-index: 5;
}
.header_inner .menu nav .span-nav-menu span {
  background-color: #f75e05;
  height: 2px;
  width: 100%;
}
.header_inner .menu-link-registration {
  display: flex;
  gap: 36px;
  align-items: center;
  margin-left: 225px;
}
.header_inner .menu-link-registration .btn-nav-menu {
  border: 1px solid #f75e05;
  border-radius: 4px;
  background-color: #f75e05;
  color: #ffffff;
  transition: background-color 2s cubic-bezier(0.1, 0.8, 0.5, 2), color 2s 1s linear;
  font-family: "latoregular";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 15px 40px;
  display: block;
}
.header_inner .menu-link-registration .btn-nav-menu:active {
  color: #f75e05;
}
.header_inner .menu-link-registration .btn-nav-menu:hover {
  border: 1px solid #f75e05;
  background-color: #e5ccb1;
  color: #f75e05;
}
.header_inner .menu-link-registration .menu-nav-registration {
  font-family: "latoregular";
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  display: flex;
  gap: 8px;
  align-items: center;
  white-space: nowrap;
}
.header_inner .menu-link-registration .menu-nav-registration:hover {
  color: #f75e05;
}
.header_inner .menu-link-registration .menu-nav-registration::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../images/login-people.svg);
  background-repeat: no-repeat;
  display: flex;
}
.header_inner .menu-link-registration .menu-nav-registration:hover::before {
  background-image: url(../images/login-people-hover.svg);
}

.footer_part_1 {
  background-color: rgb(30, 33, 44);
  width: 100%;
}
.footer_part_1 .footer_item {
  display: flex;
  padding: 60px 0;
  justify-content: space-between;
}
.footer_part_1 .footer_item .footer_title img {
  margin-bottom: 24px;
}
.footer_part_1 .footer_item .footer_title p {
  font-family: "latoregular";
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #fff;
  opacity: 0.6;
  width: 279px;
  margin-bottom: 38px;
}
.footer_part_1 .footer_item .footer_title ul {
  display: flex;
  gap: 20px;
}
.footer_part_1 .footer_item .footer_title ul li .facebook-item::before {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  background-image: url(../images/Facebook-footer_1.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.footer_part_1 .footer_item .footer_title ul li .facebook-item:hover::before {
  background-image: url(../images/Facebook-footer_2.svg);
}
.footer_part_1 .footer_item .footer_title ul li .twitter-item::before {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  background-image: url(../images/Twitter-1.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.footer_part_1 .footer_item .footer_title ul li .twitter-item:hover::before {
  background-image: url(../images/Twitter-2.svg);
}
.footer_part_1 .footer_item .footer_title ul li .youtube-item::before {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  background-image: url(../images/YouTube-1.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.footer_part_1 .footer_item .footer_title ul li .youtube-item:hover::before {
  background-image: url(../images/YouTube-2.svg);
}
.footer_part_1 .footer_item .footer_title ul li .telegram-item::before {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  background-image: url(../images/telegram-1.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.footer_part_1 .footer_item .footer_title ul li .telegram-item:hover::before {
  background-image: url(../images/telegram-2.svg);
}
.footer_part_1 .footer_item .footer_title ul li .inst-item::before {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  background-image: url(../images/Instagram-1.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.footer_part_1 .footer_item .footer_title ul li .inst-item:hover::before {
  background-image: url(../images/Instagram-2.svg);
}
.footer_part_1 .footer_item .footer_title ul li .linked-item::before {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  background-image: url(../images/Linked-In-1.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.footer_part_1 .footer_item .footer_title ul li .linked-item:hover::before {
  background-image: url(../images/Linked-In-2.svg);
}
.footer_part_1 .footer_item .footer_list {
  display: flex;
  gap: 79px;
}
.footer_part_1 .footer_item .footer_list .name_nav_footer {
  margin-bottom: 10px;
  font-family: "latobold";
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}
.footer_part_1 .footer_item .footer_list li {
  margin-bottom: 8px;
}
.footer_part_1 .footer_item .footer_list li .link-footer-item {
  font-family: "latoregular";
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #fff;
  opacity: 0.6;
}
.footer_part_1 .footer_item .footer_list li .link-footer-item:hover {
  color: #f75e05;
}
.footer_part_1 .footer_item .footer_list li .tel-item {
  display: flex;
  align-items: center;
}
.footer_part_1 .footer_item .footer_list li .tel-item::before {
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 4px;
  /* используем марджин-райт вместо гап */
  background-image: url(../images/tei-item.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.footer_part_1 .footer_item .footer_list li .mail-item {
  display: flex;
  align-items: center;
}
.footer_part_1 .footer_item .footer_list li .mail-item::before {
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 4px;
  /* используем марджин-райт вместо гап */
  background-image: url(../images/Mail-item.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.footer_part_1 .footer_item .footer_email {
  width: 286px;
  position: relative;
}
.footer_part_1 .footer_item .footer_email h4 {
  font-family: "latobold";
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 24px;
}
.footer_part_1 .footer_item .footer_email form .input_footer {
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.334);
  font-family: "latoregular";
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #ffffff;
  opacity: 0.6;
  border-radius: 4px;
  width: 100%;
  height: 36px;
  padding-left: 12px;
}
.footer_part_1 .footer_item .footer_email form .input_footer:focus {
  opacity: 1;
  outline: none;
}
.footer_part_1 .footer_item .footer_email .form_fotter_button {
  position: absolute;
  top: 58px;
  right: 12px;
  cursor: pointer;
}
.footer_part_1 .footer_item .footer_email .form_fotter_button::after {
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  margin-right: 4px;
  /* используем марджин-райт вместо гап */
  background-image: url(../images/arrow_footer_email.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.footer_part_1 .footer_item .footer_email .form_fotter_button:hover::after {
  background-image: url(../images/arrow_footer_email2.svg);
}

.footer_part_2 {
  background-color: rgb(52, 55, 65);
  width: 100%;
}
.footer_part_2 .reserved_inner {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.footer_part_2 .reserved_inner .title_inner_footer {
  display: flex;
}
.footer_part_2 .reserved_inner .title_inner_footer h5 {
  font-family: "latoregular";
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #fff;
  margin-right: 4px;
}
.footer_part_2 .reserved_inner .title_inner_footer h6 {
  font-family: "latoregular";
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #fff;
  display: flex;
}
.footer_part_2 .reserved_inner .title_inner_footer h6::before {
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 4px;
  /* используем марджин-райт вместо гап */
  background-image: url(../images/heart_footer.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.footer_part_2 .reserved_inner .top-item {
  font-family: "latobold";
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
  opacity: 0.6;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 20px;
}

.menu--close {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
}

.menu--close.menu--open {
  display: block;
}

/* Прелоадер */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  animation: fadeOut 6s forwards;
}
.preloader::before {
  content: "";
  width: 130px;
  height: 22px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  display: flex;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* первая секция, первый скрин */
.hero-screen {
  min-height: 100svh;
  width: 100%;
  background-color: #FFDAD6;
  position: relative;
  z-index: 1;
  padding-top: 200px;
  margin-bottom: 170px;
  /* все еще первая секция, только строчка с числами */
}
.hero-screen .site-left-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 189px;
  flex-wrap: wrap;
}
.hero-screen .site-left-right .play-text {
  display: flex;
  align-items: center;
  font-family: "latoregular";
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 24px;
  width: 175px;
}
.hero-screen .site-left-right .play-text:hover {
  color: #f75e05;
}
.hero-screen .site-left-right .play-text:hover:before {
  background-image: url(../images/play-hover.svg);
}
.hero-screen .site-left-right .play-text::before {
  content: "";
  width: 84px;
  height: 84px;
  background-image: url(../images/play.svg);
  background-repeat: no-repeat;
  display: flex;
}
.hero-screen .site-left-right .play-title {
  font-family: "latoregular";
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #1e212c;
  max-width: 496px;
  margin-bottom: 60px;
  margin-left: 20px;
}
.hero-screen .site-left-right .hero-screen-button {
  display: flex;
  gap: 64px;
  align-items: center;
  margin-left: 15px;
}
.hero-screen .site-left-right .hero-screen-button .about-us-link {
  border: 1px solid #f75e05;
  border-radius: 4px;
  background-color: #f75e05;
  color: #ffffff;
  transition: background-color 2s cubic-bezier(0.1, 0.8, 0.5, 2), color 2s 1s linear;
  font-family: "latoregular";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 15px 40px;
  color: #f75e05;
  background-color: #ffffff;
}
.hero-screen .site-left-right .hero-screen-button .about-us-link:active {
  color: #f75e05;
}
.hero-screen .site-left-right .hero-screen-button .about-us-link:hover {
  border: 1px solid #f75e05;
  background-color: #e5ccb1;
  color: #f75e05;
}
.hero-screen .site-left-right .hero-screen-button .courses-link {
  font-family: "latoregular";
  font-weight: 700;
  font-size: 16px;
  line-height: 325%;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.hero-screen .site-left-right .hero-screen-button .courses-link:hover {
  color: #f75e05;
}
.hero-screen .number-students {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 82px;
}
.hero-screen .number-students .number-list {
  font-family: "latoregular";
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  text-align: center;
  color: #1e212c;
  padding-right: 12px;
}
.hero-screen .number-students li {
  font-family: "latoregular";
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #1e212c;
  display: flex;
  align-items: center;
}

.Why_Createx_section_2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 178px;
}
.Why_Createx_section_2 .Why_Createx_text_right {
  max-width: 390px;
}
.Why_Createx_section_2 .Why_Createx_text_right div {
  margin-bottom: 48px;
}
.Why_Createx_section_2 .Why_Createx_text_right .Why_Createx_text {
  font-family: "latobold";
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 8px;
}
.Why_Createx_section_2 .Why_Createx_text_right .Why_Createx_title {
  font-family: "latoblack";
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1e212c;
  margin-bottom: 40px;
}
.Why_Createx_section_2 .Why_Createx_text_right .Why_Createx_text_and_svg {
  font-family: "latoregular";
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  display: flex;
  padding-bottom: 12px;
}
.Why_Createx_section_2 .Why_Createx_text_right .Why_Createx_text_and_svg::before {
  content: "";
  display: block;
  width: 23px;
  height: 18px;
  margin-right: 16px;
  background-image: url(../images/check-section-2.svg);
  background-repeat: no-repeat;
}
.Why_Createx_section_2 .more-about-button {
  border: 1px solid #f75e05;
  border-radius: 4px;
  background-color: #f75e05;
  color: #ffffff;
  transition: background-color 2s cubic-bezier(0.1, 0.8, 0.5, 2), color 2s 1s linear;
  padding: 16px 32px;
  font-family: "latobold";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.Why_Createx_section_2 .more-about-button:active {
  color: #f75e05;
}
.Why_Createx_section_2 .more-about-button:hover {
  border: 1px solid #f75e05;
  background-color: #e5ccb1;
  color: #f75e05;
}

.Featured_Courses {
  margin-bottom: 180px;
}
.Featured_Courses h4 {
  font-family: "latobold";
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 8px;
}
.Featured_Courses .Featured_Courses_button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  flex-wrap: wrap;
  align-items: center;
}
.Featured_Courses .Featured_Courses_button h3 {
  font-family: "latoblack";
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1e212c;
}
.Featured_Courses .Featured_Courses_button .all_courses_btn {
  border: 1px solid #f75e05;
  border-radius: 4px;
  background-color: #f75e05;
  color: #ffffff;
  transition: background-color 2s cubic-bezier(0.1, 0.8, 0.5, 2), color 2s 1s linear;
  font-family: "latobold";
  font-weight: 700;
  font-size: 16px;
  line-height: 325%;
  letter-spacing: 0.03em;
  text-align: center;
  background: transparent;
  color: #f75e05;
  width: 202px;
  height: 52px;
}
.Featured_Courses .Featured_Courses_button .all_courses_btn:active {
  color: #f75e05;
}
.Featured_Courses .Featured_Courses_button .all_courses_btn:hover {
  border: 1px solid #f75e05;
  background-color: #e5ccb1;
  color: #f75e05;
}

.teachers_inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.teachers_inner .owl-nav.disabled {
  display: none;
}
.teachers_inner .owl-dots.disabled {
  display: none;
}
.teachers_inner .teachers_item_img {
  display: flex;
  align-items: center;
  border: 1px solid #e5e8ed;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(30, 33, 44, 0.02), 0 4px 6px -3px rgba(154, 156, 165, 0.04), 0 12px 15px -6px rgba(154, 156, 165, 0.05), 0 30px 50px -12px rgba(154, 156, 165, 0.018);
  background: #fff;
  max-width: 590px;
  width: 100%;
  margin-bottom: 30px;
}
.teachers_inner .teachers_item_img .teacher_item {
  display: flex;
  flex-direction: column;
  padding: 0 32px;
}
.teachers_inner .teachers_item_img .teacher_item .Marketing_link {
  font-family: "latoregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
  background: #03cea4;
  border-radius: 4px;
  width: 79px;
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
.teachers_inner .teachers_item_img .teacher_item .Marketing_link:hover {
  background: #f75e05;
}
.teachers_inner .teachers_item_img .teacher_item .Management_link {
  font-family: "latoregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
  background: #5a87fc;
  border-radius: 4px;
  width: 97px;
  text-align: center;
  margin-bottom: 20px;
}
.teachers_inner .teachers_item_img .teacher_item .Management_link:hover {
  background: #f75e05;
}
.teachers_inner .teachers_item_img .teacher_item .HR_link {
  font-family: "latoregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
  background: #f89828;
  border-radius: 4px;
  width: 112px;
  text-align: center;
  margin-bottom: 20px;
}
.teachers_inner .teachers_item_img .teacher_item .HR_link:hover {
  background: #f75e05;
}
.teachers_inner .teachers_item_img .teacher_item .Design_link {
  font-family: "latoregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
  background: #f52f6e;
  border-radius: 4px;
  width: 112px;
  text-align: center;
  margin-bottom: 20px;
}
.teachers_inner .teachers_item_img .teacher_item .Design_link:hover {
  background: #f75e05;
}
.teachers_inner .teachers_item_img .teacher_item .name_course_link {
  font-family: "latobold";
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 20px;
}
.teachers_inner .teachers_item_img .teacher_item .name_course_link:hover {
  color: #f75e05;
}
.teachers_inner .teachers_item_img h4 {
  font-family: "latobold";
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #ff4242;
}
.teachers_inner .teachers_item_img h4 .name_teacher {
  color: #787a80;
  margin-left: 2px;
  font-family: "latoregular";
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-transform: none; /* Убедитесь, что регистр не меняется */
  border: none;
}
.teachers_inner .teachers_item_img h4 .name_teacher span {
  border: 1px solid #787a80;
  width: 16px;
  height: 1px;
  transform: rotate(-90deg);
  border-radius: 2px;
  margin-right: 8px;
}

.Our_benefits {
  margin-bottom: 120px;
}
.Our_benefits h5 {
  font-family: "latobold";
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #1e212c;
  margin-bottom: 8px;
}
.Our_benefits h4 {
  font-family: "latoblack";
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  text-align: center;
  color: #1e212c;
  margin-bottom: 60px;
}
.Our_benefits .benefits-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.Our_benefits .benefits-item li a {
  font-family: "latobold";
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #9a9ca5;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 68px;
  display: flex;
  align-items: center;
}
.Our_benefits .benefits-item li a:hover {
  border: 1px solid #ff3f3a;
  color: #ff3f3a;
}
.Our_benefits .benefits-item li a::before {
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  margin-right: 8px;
  /* используем марджин-райт вместо гап */
  background-repeat: no-repeat;
}
.Our_benefits .benefits-item li:nth-child(1) a::before {
  background-image: url(../images/1-gray.svg);
}
.Our_benefits .benefits-item li:nth-child(1) a:hover::before {
  background-image: url(../images/1-orang.svg);
}
.Our_benefits .benefits-item li:nth-child(2) a::before {
  background-image: url(../images/2-grey.svg);
}
.Our_benefits .benefits-item li:nth-child(2) a:hover::before {
  background-image: url(../images/2-orang.svg);
}
.Our_benefits .benefits-item li:nth-child(3) a::before {
  background-image: url(../images/3-gray.svg);
}
.Our_benefits .benefits-item li:nth-child(3) a:hover::before {
  background-image: url(../images/3-orang.svg);
}
.Our_benefits .benefits-item li:nth-child(4) a::before {
  background-image: url(../images/4-gray.svg);
}
.Our_benefits .benefits-item li:nth-child(4) a:hover::before {
  background-image: url(../images/4-orang.svg);
}
.Our_benefits .practicing-tutors_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Our_benefits .practicing-tutors_img .practicing-tutors_left {
  max-width: 488px;
}
.Our_benefits .practicing-tutors_img .practicing-tutors_left h3 {
  font-family: "latoblack";
  font-weight: 900;
  font-size: 32px;
  line-height: 130%;
  color: #1e212c;
  margin-bottom: 24px;
}
.Our_benefits .practicing-tutors_img .practicing-tutors_left p {
  font-family: "latoregular";
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}

.Our_Events {
  margin-bottom: 104px;
  background-color: #FFDAD5;
}
.Our_Events .events {
  padding: 80px 0;
  text-align: center;
}
.Our_Events .events .events_title {
  font-family: "latobold";
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 8px;
}
.Our_Events .events h3 {
  font-family: "latoblack";
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1e212c;
  margin-bottom: 60px;
}
.Our_Events .events .Event_details {
  display: flex;
  justify-content: space-between;
  padding: 32px 40px;
  background-color: #fff;
  margin-bottom: 24px;
}
.Our_Events .events .Event_details:nth-last-child(2) {
  margin-bottom: 60px;
}
.Our_Events .events .Event_details:hover {
  box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.05), 0 12px 10px -6px rgba(255, 63, 58, 0.08), 0 30px 24px -10px rgba(255, 63, 58, 0.1), 0 80px 80px -20px rgba(255, 63, 58, 0.16);
  background: #fff;
}
.Our_Events .events .Event_details h4 {
  font-family: "latoblack";
  font-weight: 900;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #ff3f3a;
}
.Our_Events .events .Event_details .Event_details_date h4 {
  font-family: "latobold";
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 4px;
  text-align: left;
}
.Our_Events .events .Event_details .Event_details_date h5 {
  font-family: "latoregular";
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787a80;
}
.Our_Events .events .Event_details .Event_details_name {
  max-width: 767px;
  width: 100%;
  text-align: left;
}
.Our_Events .events .Event_details .Event_details_name p {
  font-family: "latobold";
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 4px;
}
.Our_Events .events .Event_details .Event_details_name h5 {
  font-family: "latoregular";
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787a80;
  text-align: left;
}
.Our_Events .events .Event_details .event_btn {
  border: 1px solid #f75e05;
  border-radius: 4px;
  background-color: #f75e05;
  color: #ffffff;
  transition: background-color 2s cubic-bezier(0.1, 0.8, 0.5, 2), color 2s 1s linear;
  font-family: "latobold";
  font-weight: 700;
  font-size: 14px;
  line-height: 314%;
  letter-spacing: 0.04em;
  color: #f75e05;
  background: #ffffff;
  width: 136px;
  height: 44px;
}
.Our_Events .events .Event_details .event_btn:active {
  color: #f75e05;
}
.Our_Events .events .Event_details .event_btn:hover {
  border: 1px solid #f75e05;
  background-color: #e5ccb1;
  color: #f75e05;
}
.Our_Events .events .Event_details .event_btn:hover {
  background-color: #f75e05;
  color: #ffffff;
}
.Our_Events .events .all_events {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.Our_Events .events .all_events h5 {
  font-family: "latobold";
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: #1e212c;
}
.Our_Events .events .all_events .all_events_btn {
  border: 1px solid #f75e05;
  border-radius: 4px;
  background-color: #f75e05;
  color: #ffffff;
  transition: background-color 2s cubic-bezier(0.1, 0.8, 0.5, 2), color 2s 1s linear;
  font-family: "latobold";
  font-weight: 700;
  font-size: 16px;
  line-height: 325%;
  letter-spacing: 0.03em;
  padding: 0 40px;
}
.Our_Events .events .all_events .all_events_btn:active {
  color: #f75e05;
}
.Our_Events .events .all_events .all_events_btn:hover {
  border: 1px solid #f75e05;
  background-color: #e5ccb1;
  color: #f75e05;
}

.Certificate {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 8;
}
.Certificate .Certificate_createx {
  max-width: 397px;
}
.Certificate .Certificate_createx h5 {
  font-family: "latobold";
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 8px;
}
.Certificate .Certificate_createx h4 {
  font-family: "latoblack";
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1e212c;
  margin-bottom: 48px;
}
.Certificate .Certificate_createx p {
  font-family: "latoregular";
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-bottom: 32px;
}
.Certificate .Certificate_img {
  position: absolute;
  right: 0;
}

.our_team {
  background-color: #F4F5F6;
  width: 100%;
  position: relative;
  z-index: 7;
  top: 119px;
}
.our_team .team_inner {
  padding-top: 166px;
  margin-bottom: 119px;
  padding-bottom: 180px;
}
.our_team .team_inner h5 {
  font-family: "latobold";
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 8px;
}
.our_team .team_inner .title_and_arrow {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}
.our_team .team_inner .title_and_arrow h4 {
  font-family: "latoblack";
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1e212c;
}
.our_team .team_inner .title_and_arrow .arrow_our_team {
  display: flex;
  justify-content: end;
  gap: 12px;
  align-items: center;
}
.our_team .team_inner .title_and_arrow .arrow_our_team .arrow_left::after {
  content: "";
  width: 48px;
  height: 48px;
  display: block;
  margin-right: 4px;
  /* используем марджин-райт вместо гап */
  background-image: url(../images/arrow_w_left.svg);
  background-repeat: no-repeat;
}
.our_team .team_inner .title_and_arrow .arrow_our_team .arrow_left:hover::after {
  background-image: url(../images/arrow_orange_right.svg);
}
.our_team .team_inner .title_and_arrow .arrow_our_team .arrow_right::after {
  content: "";
  width: 48px;
  height: 48px;
  display: block;
  margin-right: 4px;
  /* используем марджин-райт вместо гап */
  background-image: url(../images/arrow_w_right.svg);
  background-repeat: no-repeat;
}
.our_team .team_inner .title_and_arrow .arrow_our_team .arrow_right:hover::after {
  background-image: url(../images/arrow_r_orange.svg);
}
.our_team .team_inner .card_teachers {
  display: flex;
  justify-content: space-between;
}
.our_team .team_inner .card_teachers .teachers_inner_card {
  position: relative;
}
.our_team .team_inner .card_teachers .teachers_inner_card:hover .fb_icon::after {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 4px;
  /* используем марджин-райт вместо гап */
  background-image: url(../images/Facebook-no-hover.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 300px;
  left: 181px;
}
.our_team .team_inner .card_teachers .teachers_inner_card:hover .fb_icon:hover::after {
  background-image: url(../images/Facebook-hover.svg);
}
.our_team .team_inner .card_teachers .teachers_inner_card:hover .inst_icon::after {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 4px;
  /* используем марджин-райт вместо гап */
  background-image: url(../images/Instagram-no-hover.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 300px;
  left: 213px;
}
.our_team .team_inner .card_teachers .teachers_inner_card:hover .inst_icon:hover::after {
  background-image: url(../images/Instagram-hover.svg);
}
.our_team .team_inner .card_teachers .teachers_inner_card:hover .link_in_icon::after {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 4px;
  /* используем марджин-райт вместо гап */
  background-image: url(../images/Linked-In-no-hover.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 300px;
  left: 245px;
}
.our_team .team_inner .card_teachers .teachers_inner_card:hover .link_in_icon:hover::after {
  background-image: url(../images/hover-link.svg);
}
.our_team .team_inner .card_teachers .teachers_inner_card img {
  border-radius: 4px;
  margin-bottom: 16px;
}
.our_team .team_inner .card_teachers .teachers_inner_card h4 {
  font-family: "latobold";
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #424551;
}
.our_team .team_inner .card_teachers .teachers_inner_card h5 {
  font-family: "latoregular";
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #787a80;
  text-transform: none;
  letter-spacing: normal;
}
.our_team .team_inner .card_teachers .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 81%;
  background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
  z-index: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  border-radius: 4px;
}
.our_team .team_inner .card_teachers .teachers_inner_card:hover .gradient {
  opacity: 1;
}

.students_say {
  background-color: #F4F5F6;
  padding-bottom: 140px;
  margin-bottom: 140px;
}
.students_say .students h5 {
  text-align: center;
  font-family: "latobold";
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #1e212c;
  margin-bottom: 8px;
}
.students_say .students h4 {
  font-family: "latoblack";
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  text-align: center;
  color: #1e212c;
  margin-bottom: 66px;
}
.students_say .owl-carousel.owl-carousel-second .owl-nav .owl-prev span {
  position: absolute;
  top: 145px;
  right: 1068px;
  color: transparent;
}
.students_say .owl-carousel.owl-carousel-second .owl-nav .owl-prev span::after {
  content: "";
  width: 48px;
  height: 48px;
  display: block;
  margin-right: 4px;
  /* используем марджин-райт вместо гап */
  background-image: url(../images/arrow_w_left.svg);
  background-repeat: no-repeat;
}
.students_say .owl-carousel.owl-carousel-second .owl-nav .owl-prev span:hover::after {
  background-image: url(../images/arrow_orange_right.svg);
}
.students_say .owl-carousel.owl-carousel-second .owl-nav .owl-next span {
  position: absolute;
  top: 145px;
  left: 1068px;
  color: transparent;
}
.students_say .owl-carousel.owl-carousel-second .owl-nav .owl-next span::after {
  content: "";
  width: 48px;
  height: 48px;
  display: block;
  margin-right: 4px;
  /* используем марджин-райт вместо гап */
  background-image: url(../images/arrow_w_right.svg);
  background-repeat: no-repeat;
}
.students_say .owl-carousel.owl-carousel-second .owl-nav .owl-next span:hover::after {
  background-image: url(../images/arrow_r_orange.svg);
}
.students_say .owl-carousel.owl-carousel-second .owl-dots {
  position: absolute;
  left: 400px;
  margin-top: 120px;
}
.students_say .owl-carousel.owl-carousel-second .owl-dots .owl-dot span {
  border: 3px solid #b3b7bc;
  width: 30px;
  height: 0px;
  text-align: center;
  display: flex;
  margin: 10px;
  border-radius: 10px;
}
.students_say .owl-carousel.owl-carousel-second .owl-dots .owl-dot.active span {
  border: 3px solid #424551;
}
.students_say .owl-carousel.owl-carousel-second .carusel_item .carusel_inner {
  display: flex;
  gap: 20px;
}
.students_say .owl-carousel.owl-carousel-second .carusel_item .carusel_inner p {
  font-family: "latoregular";
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #424551;
  display: flex;
  margin-bottom: 24px;
  max-width: 750px;
  width: 100%;
}
.students_say .owl-carousel.owl-carousel-second .carusel_item .student_name {
  display: flex;
  gap: 20px;
  align-items: center;
}
.students_say .owl-carousel.owl-carousel-second .carusel_item .student_name .name_carusel h4 {
  font-family: "latobold";
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #1e212c;
}
.students_say .owl-carousel.owl-carousel-second .carusel_item .student_name .name_carusel h5 {
  font-family: "latoregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787a80;
}
.students_say .owl-carousel.owl-carousel-second.owl-loaded.owl-drag {
  max-width: 1020px;
  width: 100%;
  margin-left: 100px;
  background-color: #ffffff;
  padding: 66px 105px;
}

.Our_blog_inner {
  margin-bottom: 180px;
}
.Our_blog_inner p {
  font-family: "latobold";
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: #1e212c;
  margin-bottom: 8px;
}
.Our_blog_inner .posts_btn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  align-items: center;
}
.Our_blog_inner .posts_btn h4 {
  font-family: "latoblack";
  font-weight: 900;
  font-size: 46px;
  color: #1e212c;
}
.Our_blog_inner .posts_btn .button_blog {
  font-family: "latobold";
  font-weight: 700;
  font-size: 16px;
  border: 1px solid #f75e05;
  border-radius: 4px;
  background-color: #f75e05;
  color: #ffffff;
  transition: background-color 2s cubic-bezier(0.1, 0.8, 0.5, 2), color 2s 1s linear;
  padding: 20px 40px;
}
.Our_blog_inner .posts_btn .button_blog:active {
  color: #f75e05;
}
.Our_blog_inner .posts_btn .button_blog:hover {
  border: 1px solid #f75e05;
  background-color: #e5ccb1;
  color: #f75e05;
}
.Our_blog_inner .card_blog_item {
  display: flex;
  justify-content: space-between;
}
.Our_blog_inner .card_blog_item .card_blog_inner {
  position: relative;
  max-width: 390px;
  width: 100%;
}
.Our_blog_inner .card_blog_item .card_blog_inner img {
  margin-bottom: 16px;
}
.Our_blog_inner .card_blog_item .card_blog_inner .Podcast-link {
  position: absolute;
  top: 12px;
  left: 12px;
  font-family: "latoregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 1px 8px;
  width: 85px;
  height: 23px;
  background: #ffffff;
}
.Our_blog_inner .card_blog_item .card_blog_inner .Podcast-link:hover {
  background-color: #f75e05;
}
.Our_blog_inner .card_blog_item .card_blog_inner .Podcast-link::before {
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 4px;
  /* используем марджин-райт вместо гап */
  background-image: url(../images/our_blog_item_1.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.Our_blog_inner .card_blog_item .card_blog_inner .Video-link {
  position: absolute;
  top: 12px;
  left: 12px;
  font-family: "latoregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 1px 8px;
  width: 73px;
  height: 23px;
  background: #ffffff;
}
.Our_blog_inner .card_blog_item .card_blog_inner .Video-link:hover {
  background-color: #f75e05;
}
.Our_blog_inner .card_blog_item .card_blog_inner .Video-link::before {
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 4px;
  /* используем марджин-райт вместо гап */
  background-image: url(../images/our_blog_item_2.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.Our_blog_inner .card_blog_item .card_blog_inner .Article_link {
  position: absolute;
  top: 12px;
  left: 12px;
  font-family: "latoregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 1px 8px;
  width: 85px;
  height: 23px;
  background: #ffffff;
}
.Our_blog_inner .card_blog_item .card_blog_inner .Article_link:hover {
  background-color: #f75e05;
}
.Our_blog_inner .card_blog_item .card_blog_inner .Article_link::before {
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 4px;
  /* используем марджин-райт вместо гап */
  background-image: url(../images/our_blog_item_3.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.Our_blog_inner .card_blog_item .card_blog_inner .card_blog_title {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 8px;
}
.Our_blog_inner .card_blog_item .card_blog_inner .card_blog_title span {
  border: 1px solid #787a80;
  width: 12px;
  height: 0px;
  transform: rotate(-90deg);
}
.Our_blog_inner .card_blog_item .card_blog_inner .card_blog_title h4 {
  font-family: "latobold";
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #787a80;
}
.Our_blog_inner .card_blog_item .card_blog_inner .card_blog_title h5 {
  font-family: "latoregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787a80;
  display: flex;
  align-items: center;
}
.Our_blog_inner .card_blog_item .card_blog_inner .card_blog_title h5::before {
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 8px;
  /* используем марджин-райт вместо гап */
  background-image: url(../images/data-item_1.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.Our_blog_inner .card_blog_item .card_blog_inner .card_blog_title h6 {
  font-family: "latoregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787a80;
  display: flex;
  align-items: center;
}
.Our_blog_inner .card_blog_item .card_blog_inner .card_blog_title h6::before {
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 8px;
  /* используем марджин-райт вместо гап */
  background-image: url(../images/oclock-item.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.Our_blog_inner .card_blog_item .card_blog_inner h4 {
  font-family: "latobold";
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
}
.Our_blog_inner .card_blog_item .card_blog_inner .blog-text {
  font-family: "latoregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #424551;
  margin-bottom: 16px;
}
.Our_blog_inner .card_blog_item .card_blog_inner .Listen_link {
  font-family: "latobold";
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #1e212c;
  display: flex;
  align-items: center;
}
.Our_blog_inner .card_blog_item .card_blog_inner .Listen_link:hover {
  color: #f75e05;
}
.Our_blog_inner .card_blog_item .card_blog_inner .Listen_link::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 8px;
  /* используем марджин-райт вместо гап */
  background-image: url(../images/arrow-our-blog.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.email_for_Subscribe {
  background-color: rgb(255, 217, 216);
  position: relative;
}
.email_for_Subscribe .img_subscribe_1 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.email_for_Subscribe .img_subscribe_2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.email_for_Subscribe .Subscribe {
  padding: 120px 0;
  text-align: center;
}
.email_for_Subscribe .Subscribe h5 {
  font-family: "latobold";
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #1e212c;
  margin-bottom: 8px;
}
.email_for_Subscribe .Subscribe h4 {
  font-family: "latoblack";
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  text-align: center;
  color: #1e212c;
  margin-bottom: 66px;
}
.email_for_Subscribe .Subscribe .email_form_inner {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.email_for_Subscribe .Subscribe .email_form_inner form {
  border: 1px solid #d7dadd;
  border-radius: 4px;
  max-width: 422px;
  width: 100%;
  background: #fff;
}
.email_for_Subscribe .Subscribe .email_form_inner form input {
  border: transparent;
  font-family: "latoregular";
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #9a9ca5;
  border-radius: 4px;
  width: 100%;
  height: 52px;
  padding-left: 10px;
}
.email_for_Subscribe .Subscribe .email_form_inner form input:focus {
  color: #f75e05;
  outline: none;
}
.email_for_Subscribe .Subscribe .email_form_inner .button_subscribe {
  border: 1px solid #f75e05;
  border-radius: 4px;
  background-color: #f75e05;
  color: #ffffff;
  transition: background-color 2s cubic-bezier(0.1, 0.8, 0.5, 2), color 2s 1s linear;
  padding: 0 40px;
  font-family: "latobold";
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
.email_for_Subscribe .Subscribe .email_form_inner .button_subscribe:active {
  color: #f75e05;
}
.email_for_Subscribe .Subscribe .email_form_inner .button_subscribe:hover {
  border: 1px solid #f75e05;
  background-color: #e5ccb1;
  color: #f75e05;
}/*# sourceMappingURL=style1.css.map */