// ниже подключила сцсс
@import "_fonts";
// ниже подключила на повторяющиеся цвета - переменные
$orang_color: #f75e05;
$white_color: #ffffff;
$dark_color: #1e212c;
// ниже міксины на кнопки
@mixin base_button{
    border: 1px solid $orang_color;
    border-radius: 4px;
    background-color: $orang_color;
    color: $white_color;
    transition: background-color 2s cubic-bezier(0.1, 0.8, 0.5, 2), color 2s 1s linear;
    &:active {
        color: $orang_color;
    }
    &:hover {
        border: 1px solid $orang_color;
        background-color: #e5ccb1;
        color: $orang_color;
    }
}
html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    padding: 0;
    border: none;
    background: none;
}
body{
    font-family: 'latoregular';
    font-style: normal;
    margin: 0;
    position: relative;
}
@import '_header.scss';
.container{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 20px;
}
    .menu--close{
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgb(0, 0, 0, .5);
        z-index: 4;
    }
    .menu--close.menu--open{
        display: block;
    }
    // делаю фон для всплывающего меню 
/* Прелоадер */
.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white_color;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    animation: fadeOut 6s forwards;
    &::before{
        content: '';
        width: 130px;
        height: 22px;
        background-image: url(../images/logo.svg);
        background-repeat: no-repeat;
        display: flex;
        animation: spin 2s linear infinite;
    }
    @keyframes spin{
        0% {transform: rotate(0deg);}
        100% {transform: rotate(360deg);}
    }
    @keyframes fadeOut{
        0% { opacity: 1; }
        100% { opacity: 0; visibility: hidden; }
    }
}
/* первая секция, первый скрин */
.hero-screen{
    min-height: 100svh;
    width: 100%;
    background-color: #FFDAD6;
    position: relative;
    z-index: 1;
    padding-top: 200px;
    margin-bottom: 170px;
    .site-left-right{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 189px;
        flex-wrap: wrap;
        .play-text{
            display: flex;
            align-items: center;
            font-family: 'latoregular';
            font-weight: 700;
            font-size: 14px;
            line-height: 150%;
            color: $dark_color;
            margin-bottom: 24px;
            &:hover{
                color: $orang_color;
            }
            &:hover:before{
                background-image: url(../images/play-hover.svg);
                }
            &::before{
                content: '';
                width: 84px;
                height: 84px;
                background-image: url(../images/play.svg);
                background-repeat: no-repeat;
                display: flex;
            }
        }
        .play-title{
            font-family: 'latoregular';
            font-weight: 900;
            font-size: 64px;
            line-height: 130%;
            letter-spacing: 0.02em;
            color: $dark_color;
            max-width: 496px;
            margin-bottom: 60px;
            margin-left: 20px;
        }
        .hero-screen-button{
            display: flex;
            gap: 64px;
            align-items: center;
            margin-left: 15px;
            .about-us-link{
                @include base_button;
                font-family: 'latoregular';
                font-weight: 700;
                font-size: 16px;
                letter-spacing: 0.03em;
                border-radius: 4px;
                padding: 15px 40px;
                color: $orang_color;
                background-color: $white_color;
            }
            .courses-link{
                font-family: 'latoregular';
                font-weight: 700;
                font-size: 16px;
                line-height: 325%;
                letter-spacing: 0.03em;
                color: $white_color;
                &:hover{
                    color: $orang_color;
                }
            }
        }
    }
    /* все еще первая секция, только строчка с числами */
    .number-students{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 82px;
        .number-list{
            font-family: 'latoregular';
            font-weight: 900;
            font-size: 46px;
            line-height: 130%;
            text-align: center;
            color: $dark_color;
            padding-right: 12px;
        }
        li{
            font-family: 'latoregular';
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: $dark_color;
            display: flex;
            align-items: center;
        }
    }
}
// вторая секция
.Why_Createx_section_2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 178px;
    .Why_Createx_text_right{
        div{
            margin-bottom: 48px;
        }
        max-width: 390px;
        .Why_Createx_text{
            font-family: 'latobold';
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: #1e212c;
            margin-bottom: 8px;
        }
        .Why_Createx_title{
            font-family: 'latoblack';
            font-weight: 900;
            font-size: 46px;
            line-height: 130%;
            color: #1e212c;
            margin-bottom: 40px;
        }
        .Why_Createx_text_and_svg{
            font-family: 'latoregular';
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: #424551;
            display: flex;
            padding-bottom: 12px;
            &::before{
                content: "";
                display: block;
                width: 23px;
                height: 18px;
                margin-right: 16px;
                background-image: url(../images/check-section-2.svg);
                background-repeat: no-repeat;
                // background-position: center;
            }
        }
    }
    .more-about-button{
        @include base_button;
        padding: 16px 32px;
        font-family: 'latobold';
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.04em;
        color: $white_color;
    }
}
// 3 секция
.Featured_Courses{
    margin-bottom: 180px;
    h4{
        font-family: 'latobold';
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #1e212c;
        margin-bottom: 8px;
    }
    .Featured_Courses_button{
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
        flex-wrap: wrap;
        align-items: center;
        h3{
            font-family: 'latoblack';
            font-weight: 900;
            font-size: 46px;
            line-height: 130%;
            color: #1e212c;
        }
        .all_courses_btn{
            @include base_button;
            font-family: 'latobold';
            font-weight: 700;
            font-size: 16px;
            line-height: 325%;
            letter-spacing: 0.03em;
            text-align: center;
            background: transparent;
            color: $orang_color;
            width: 202px;
            height: 52px;
        }
    }
}
// секция 4
.teachers_inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .owl-nav.disabled{
        display: none;
    }
    .owl-dots.disabled{
        display: none;
    }
    .teachers_item_img{
        display: flex;
        align-items: center;
        border: 1px solid #e5e8ed;
        border-radius: 4px;
        // box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.05), 0 12px 10px -6px rgba(154, 156, 165, 0.08), 0 30px 24px -10px rgba(154, 156, 165, 0.1), 0 80px 80px -20px rgba(154, 156, 165, 0.16);
        box-shadow: 
        0 1px 2px rgba(30, 33, 44, 0.02), 
        0 4px 6px -3px rgba(154, 156, 165, 0.04), 
        0 12px 15px -6px rgba(154, 156, 165, 0.05), 
        0 30px 50px -12px rgba(154, 156, 165, 0.018);
        background: #fff;
        max-width: 590px;
        width: 100%;
        margin-bottom: 30px;
        .teacher_item{
            display: flex;
            flex-direction: column;
            padding: 0 32px;
    // ниже цвета для названий-ссылки-у каждой свой цвет
            .Marketing_link{
                font-family: 'latoregular';
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
                color: #fff;
                background: #03cea4;
                border-radius: 4px;
                width: 79px;
                text-align: center;
                margin-bottom: 20px;
                border: 1px solid transparent;
                &:hover{
                    background: $orang_color;
                }
            }
            .Management_link{
                font-family: 'latoregular';
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
                color: #fff;
                background: #5a87fc;
                border-radius: 4px;
                width: 97px;
                text-align: center;
                margin-bottom: 20px;
                &:hover{
                    background: $orang_color;
                }
            }
            .HR_link{
                font-family: 'latoregular';
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
                color: #fff;
                background: #f89828;
                border-radius: 4px;
                width: 112px;
                text-align: center;
                margin-bottom: 20px;
                &:hover{
                    background: $orang_color;
                }
            }
            .Design_link{
                font-family: 'latoregular';
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
                color: #fff;
                background: #f52f6e;
                border-radius: 4px;
                width: 112px;
                text-align: center;
                margin-bottom: 20px;
                &:hover{
                    background: $orang_color;
                }
            }
            .name_course_link{
                font-family: 'latobold';
                font-weight: 700;
                font-size: 20px;
                line-height: 150%;
                color: #1e212c;
                margin-bottom: 20px;
                &:hover{
                    color: $orang_color;
                }
            }
        }
        h4{
            font-family: 'latobold';
            font-weight: 700;
            font-size: 18px;
            line-height: 150%;
            color: #ff4242;
            .name_teacher{
                color: #787a80;
                margin-left: 2px;
                font-family: 'latoregular';
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                text-transform: none; /* Убедитесь, что регистр не меняется */
                border: none;
                span{
                    border: 1px solid #787a80;
                    width: 16px;
                    height: 1px;
                    transform: rotate(-90deg);
                    border-radius: 2px;
                    margin-right: 8px;
                }
            }
        }
    }
}
// 4 секция 
.Our_benefits{
    margin-bottom: 120px;
    h5{
        font-family: 'latobold';
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        color: #1e212c;
        margin-bottom: 8px;
    }
    h4{
        font-family: 'latoblack';
        font-weight: 900;
        font-size: 46px;
        line-height: 130%;
        text-align: center;
        color: #1e212c;
        margin-bottom: 60px;
    }
    .benefits-item{
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
        li{ 
            a{
            font-family: 'latobold';
            font-weight: 700;
            font-size: 16px;
            line-height: 160%;
            text-align: center;
            color: #9a9ca5;
            text-align: center;
            border: 1px solid  transparent;
            border-radius: 4px;
            padding: 10px 68px;
            display: flex;
            align-items: center;
                &:hover{
                    border: 1px solid  #ff3f3a;
                    color: #ff3f3a;
                }
                &::before{
                    content: "";
                    width: 16px;
                    height: 16px;
                    display: block;
                    margin-right: 8px;
                    /* используем марджин-райт вместо гап */
                    background-repeat: no-repeat;
                }
            }
            &:nth-child(1) {
                a::before{
                    background-image: url(../images/1-gray.svg);
                }
                a:hover::before{
                    background-image: url(../images/1-orang.svg);
                }
            }
            &:nth-child(2) {
                a::before{
                    background-image: url(../images/2-grey.svg);
                }
                a:hover::before{
                    background-image: url(../images/2-orang.svg);
                }
            }
            &:nth-child(3) {
                a::before{
                    background-image: url(../images/3-gray.svg);
                }
                a:hover::before{
                    background-image: url(../images/3-orang.svg);
                }
            }
            &:nth-child(4) {
                a::before{
                    background-image: url(../images/4-gray.svg);
                }
                a:hover::before{
                    background-image: url(../images/4-orang.svg);
                }
            }
        }
    }
    .practicing-tutors_img{
        display: flex;justify-content: space-between;
        align-items: center;
        .practicing-tutors_left{
            max-width: 488px;
            h3{
                font-family: 'latoblack';
                font-weight: 900;
                font-size: 32px;
                line-height: 130%;
                color: #1e212c;
                margin-bottom: 24px;
            }
            p{
                font-family: 'latoregular';
                font-weight: 400;
                font-size: 16px;
                line-height: 160%;
                color: #424551;
            }
        }
    }
}
// секция 5
.Our_Events{
    margin-bottom: 104px;
    background-color: #FFDAD5;
    .events{
        padding: 80px 0;
        text-align: center;
        .events_title{
            font-family: 'latobold';
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: #1e212c;
            margin-bottom: 8px;
        }
        h3{
            font-family: 'latoblack';
            font-weight: 900;
            font-size: 46px;
            line-height: 130%;
            color: #1e212c;
            margin-bottom: 60px;
        }
        .Event_details{
            display: flex;
            justify-content: space-between;
            padding: 32px 40px;
            background-color: #fff;
            margin-bottom: 24px;
            &:nth-last-child(2){
                margin-bottom: 60px;
            }
            &:hover{
                box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.05), 0 12px 10px -6px rgba(255, 63, 58, 0.08), 0 30px 24px -10px rgba(255, 63, 58, 0.1), 0 80px 80px -20px rgba(255, 63, 58, 0.16);
                background: #fff;
            }
            h4{
                font-family: 'latoblack';
                font-weight: 900;
                font-size: 48px;
                line-height: 130%;
                letter-spacing: 0.02em;
                color: #ff3f3a;
            }
            .Event_details_date{
                h4{
                    font-family: 'latobold';
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 150%;
                    color: #1e212c;
                    margin-bottom: 4px;
                    text-align: left;
                }
                h5{
                    font-family: 'latoregular';
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 160%;
                    color: #787a80;
                }
            }
            .Event_details_name{
                max-width: 767px;
                width: 100%;
                text-align: left;
                p{
                    font-family: 'latobold';
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 150%;
                    color: #1e212c;
                    margin-bottom: 4px;
                }
                h5{
                    font-family: 'latoregular';
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 160%;
                    color: #787a80;
                    text-align: left;
                }
            }
            .event_btn{
                @include base_button;
                font-family: 'latobold';
                font-weight: 700;
                font-size: 14px;
                line-height: 314%;
                letter-spacing: 0.04em;
                color: $orang_color;
                background: $white_color;
                width: 136px;
                height: 44px;
                &:hover{
                    background-color: $orang_color;
                    color: $white_color;
                }
                
            }
        }
        .all_events{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            h5{
                font-family: 'latobold';
                font-weight: 700;
                font-size: 28px;
                line-height: 150%;
                color: #1e212c;
            }
            .all_events_btn{
                @include base_button;
                font-family: 'latobold';
                font-weight: 700;
                font-size: 16px;
                line-height: 325%;
                letter-spacing: 0.03em;
                padding: 0 40px;
            }
        }
    }
}
// секция 6
.Certificate{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 8;
    .Certificate_createx{
        max-width: 397px;
        h5{
            font-family: 'latobold';
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: #1e212c;
            margin-bottom: 8px;
        }
        h4{
            font-family: 'latoblack';
            font-weight: 900;
            font-size: 46px;
            line-height: 130%;
            color: #1e212c;
            margin-bottom: 48px;
        }
        p{
            font-family: 'latoregular';
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: #424551;
            margin-bottom: 32px;
        }
    }
    .Certificate_img{
        position: absolute;
        right: 0;
    }
}
// секция 7
.our_team{
    background-color: #F4F5F6;
    width: 100%;
    position: relative;
    z-index: 7;
    top: 119px;
    .team_inner{
        padding-top: 166px;
        margin-bottom: 119px;
        padding-bottom: 180px;
        h5{
            font-family: 'latobold';
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: #1e212c;
            margin-bottom: 8px;
        }
        .title_and_arrow{
            margin-bottom: 60px;
            display: flex;
            justify-content: space-between;
            h4{
                font-family: 'latoblack';
                font-weight: 900;
                font-size: 46px;
                line-height: 130%;
                color: #1e212c;
            }
            .arrow_our_team{
                display: flex;
                justify-content: end;
                gap: 12px;
                align-items: center;
                .arrow_left::after{
                    content: "";
                    width: 48px;
                    height: 48px;
                    display: block;
                    margin-right: 4px;
                    /* используем марджин-райт вместо гап */
                    background-image: url(../images/arrow_w_left.svg);
                    background-repeat: no-repeat;
                }
                .arrow_left:hover::after{
                    background-image: url(../images/arrow_orange_right.svg);
                }
                .arrow_right::after{
                    content: "";
                    width: 48px;
                    height: 48px;
                    display: block;
                    margin-right: 4px;
                    /* используем марджин-райт вместо гап */
                    background-image: url(../images/arrow_w_right.svg);
                    background-repeat: no-repeat;
                }
                .arrow_right:hover::after{
                    background-image: url(../images/arrow_r_orange.svg);
                }
            }
        }
        .card_teachers{
                display: flex;
            justify-content: space-between;
                .teachers_inner_card{
                position: relative;
                &:hover{
                    .fb_icon{
                        &::after{
                        content: "";
                        width: 20px;
                        height: 20px;
                        display: block;
                        margin-right: 4px;
                        /* используем марджин-райт вместо гап */
                        background-image: url(../images/Facebook-no-hover.svg);
                        background-repeat: no-repeat;
                        position: absolute;
                        top: 300px;
                        left: 181px;
                        }
                        &:hover::after{
                            background-image: url(../images/Facebook-hover.svg);
                        }
                    }
                    .inst_icon{
                        &::after{
                            content: "";
                            width: 20px;
                            height: 20px;
                            display: block;
                            margin-right: 4px;
                            /* используем марджин-райт вместо гап */
                            background-image: url(../images/Instagram-no-hover.svg);
                            background-repeat: no-repeat;
                            position: absolute;
                            top: 300px;
                            left: 213px;
                            }
                            &:hover::after{
                                background-image: url(../images/Instagram-hover.svg);
                            }
                    }
                    .link_in_icon{
                        &::after{
                            content: "";
                            width: 20px;
                            height: 20px;
                            display: block;
                            margin-right: 4px;
                            /* используем марджин-райт вместо гап */
                            background-image: url(../images/Linked-In-no-hover.svg);
                            background-repeat: no-repeat;
                            position: absolute;
                            top: 300px;
                            left: 245px;
                            }
                            &:hover::after{
                                background-image: url(../images/hover-link.svg);
                            }
                    }
                }
                img{
                    border-radius: 4px;
                    margin-bottom: 16px;
                }
                h4{
                    font-family: 'latobold';
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 150%;
                    text-align: center;
                    color: #424551;
                }
                h5{
                    font-family: 'latoregular';
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 160%;
                    text-align: center;
                    color: #787a80;
                    text-transform: none;
                    letter-spacing: normal;
                }
            }
            .gradient {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 81%;
                background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
                z-index: 0;
                opacity: 0;
                transition: opacity 0.5s ease-in-out;
                border-radius: 4px;
            }
            .teachers_inner_card:hover .gradient {
                opacity: 1;
            }
        }
    }
}
.students_say{
    background-color: #F4F5F6;
    padding-bottom: 140px;
    margin-bottom: 140px;
    .students{
        h5{
            text-align: center;
            font-family: 'latobold';
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            text-align: center;
            color: #1e212c;
            margin-bottom: 8px;
        }
        h4{
            font-family: 'latoblack';
            font-weight: 900;
            font-size: 46px;
            line-height: 130%;
            text-align: center;
            color: #1e212c;
            margin-bottom: 66px;
        }
    }
    .owl-carousel.owl-carousel-second{
        .owl-nav{
            .owl-prev{
                span{
                    position: absolute;
                    top: 145px;
                    right: 1068px;
                    color: transparent;
                    &::after{
                        content: "";
                        width: 48px;
                        height: 48px;
                        display: block;
                        margin-right: 4px;
                        /* используем марджин-райт вместо гап */
                        background-image: url(../images/arrow_w_left.svg);
                        background-repeat: no-repeat;
                    }
                    &:hover::after{
                        background-image: url(../images/arrow_orange_right.svg);
                    }
                }
            }
            .owl-next{
                span{
                    position: absolute;
                    top: 145px;
                    left: 1068px;
                    color: transparent;
                    &::after{
                        content: "";
                        width: 48px;
                        height: 48px;
                        display: block;
                        margin-right: 4px;
                        /* используем марджин-райт вместо гап */
                        background-image: url(../images/arrow_w_right.svg);
                        background-repeat: no-repeat;
                    }
                    &:hover::after{
                        background-image: url(../images/arrow_r_orange.svg);
                    }
                }
            }
        }
        .owl-dots{
            position: absolute;
            left: 400px;
            margin-top: 120px;
            .owl-dot{
                span {
                    border: 3px solid #b3b7bc;
                    width: 30px;
                    height: 0px;
                    text-align: center;
                    display: flex;
                    margin: 10px;
                    border-radius: 10px;
                }
            }
            .owl-dot.active span{
                border: 3px solid #424551;
            }
        }
        .carusel_item{
            .carusel_inner{
                display: flex;
                gap: 20px;
                p{
                    font-family: 'latoregular';
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 150%;
                    color: #424551;
                    display: flex;
                    margin-bottom: 24px;
                    max-width: 750px;
                    width: 100%;
                }
            }
            .student_name{
                display: flex;
                gap: 20px;
                align-items: center;
                .name_carusel{
                    h4{
                        font-family: 'latobold';
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 160%;
                        color: #1e212c;
                    }
                    h5{
                        font-family: 'latoregular';
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 150%;
                        color: #787a80;
                    }
                }
            }
            
        }
    }
    .owl-carousel.owl-carousel-second.owl-loaded.owl-drag {
        max-width: 1020px;
        width: 100%;
        margin-left: 100px;
        background-color: $white_color;
        padding: 66px 105px;
    }
}
.Our_blog_inner{
    margin-bottom: 180px;
    p{
        font-family: 'latobold';
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.06em;
        color: #1e212c;
        margin-bottom: 8px;
    }
    .posts_btn{
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
        align-items: center;
        h4{
            font-family: 'latoblack';
            font-weight: 900;
            font-size: 46px;
            color: #1e212c;
        }
        .button_blog{
            font-family: 'latobold';
            font-weight: 700;
            font-size: 16px;
            @include base_button;
            padding: 20px 40px;
        }
    }
    .card_blog_item{
        display: flex;
        justify-content: space-between;
        .card_blog_inner{
            position: relative;
            max-width: 390px;
            width: 100%;
            img{
                margin-bottom: 16px;
            }
            .Podcast-link{
                position: absolute;
                top: 12px;
                left: 12px;
                font-family: 'latoregular';
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
                color: #424551;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                padding: 1px 8px;
                width: 85px;
                height: 23px;
                background: $white_color;
                &:hover{
                    background-color: $orang_color;
                }
                &::before{
                    content: "";
                    width: 16px;
                    height: 16px;
                    margin-right: 4px;
                    /* используем марджин-райт вместо гап */
                    background-image: url(../images/our_blog_item_1.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
            .Video-link{
                position: absolute;
                top: 12px;
                left: 12px;
                font-family: 'latoregular';
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
                color: #424551;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                padding: 1px 8px;
                width: 73px;
                height: 23px;
                background: $white_color;
                &:hover{
                    background-color: $orang_color;
                }
                &::before{
                    content: "";
                    width: 16px;
                    height: 16px;
                    margin-right: 4px;
                    /* используем марджин-райт вместо гап */
                    background-image: url(../images/our_blog_item_2.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
            .Article_link{
                position: absolute;
                top: 12px;
                left: 12px;
                font-family: 'latoregular';
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
                color: #424551;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                padding: 1px 8px;
                width: 85px;
                height: 23px;
                background: $white_color;
                &:hover{
                    background-color: $orang_color;
                }
                &::before{
                    content: "";
                    width: 16px;
                    height: 16px;
                    margin-right: 4px;
                    /* используем марджин-райт вместо гап */
                    background-image: url(../images/our_blog_item_3.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
            .card_blog_title{
                display: flex;
                gap: 12px;
                align-items: center;
                margin-bottom: 8px;
                span{
                    border: 1px solid #787a80;
                    width: 12px;
                    height: 0px;
                    transform: rotate(-90deg);
                }
                h4{
                    font-family: 'latobold';
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 150%;
                    color: #787a80;
                }
                h5{
                    font-family: 'latoregular';
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 150%;
                    color: #787a80;
                    display: flex;
                    align-items: center;
                    &::before{
                        content: "";
                        width: 16px;
                        height: 16px;
                        margin-right: 8px;
                        /* используем марджин-райт вместо гап */
                        background-image: url(../images/data-item_1.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
                h6{
                    font-family: 'latoregular';
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 150%;
                    color: #787a80;
                    display: flex;
                    align-items: center;
                    &::before{
                        content: "";
                        width: 16px;
                        height: 16px;
                        margin-right: 8px;
                        /* используем марджин-райт вместо гап */
                        background-image: url(../images/oclock-item.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
            h4{
                font-family: 'latobold';
                font-weight: 700;
                font-size: 20px;
                line-height: 150%;
                color: #1e212c;
                margin-bottom: 8px;
            }
            .blog-text{
                font-family: 'latoregular';
                font-weight: 400;
                font-size: 14px;
                line-height: 160%;
                color: #424551;
                margin-bottom: 16px;
            }
            .Listen_link{
                font-family: 'latobold';
                font-weight: 700;
                font-size: 16px;
                line-height: 160%;
                color: #1e212c;
                display: flex;
                align-items: center;
                &:hover{
                    color: $orang_color;
                }
                &::after{
                    content: "";
                    width: 24px;
                    height: 24px;
                    margin-left: 8px;
                    /* используем марджин-райт вместо гап */
                    background-image: url(../images/arrow-our-blog.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
    }
}
